/** This is the style sheet for my bio site **/

}
.header{
	height: 70px;
}

.header-name{
	padding:20px;
	background-color: #4aaaa5;	
	font-size: 30px;
	font-family: Times;
	color: white;
	text-align: center;
}

.header-links{
	float: left;
	margin-top: 27px;
	padding: 5px;
	font-size: 10px;
	font-family: Helvetica;
	color: grey;
}

.main-box{
	background-image: url("assets/pix/concrete_seamless.png");
	background-color: #d9dddd; 
}

.info-box{
	margin: 30px 0px 5px 0px;
	padding: 10px;
	background-color: white;
}

.info-title{
	margin: 2px 0px 2px 20px;
	border-bottom: 2px solid grey;
}

.content-box{
	margin: 8px;
}

.aside{
	margin: 30px 5px 5px 5px;
	padding: 25px 25px 5px 25px;
	background-color: white;
}

h2{
	height: 30px;
	font-family: Times;
}

.pix-box{
	padding: 2px;
}

h3{
	margin-top: 0px;
	font-family: Times;
}

.media-box{
	border-top: 2px solid grey;
}

form{
	width: 100%;
}

input{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
}

textarea{
	width: 100%;
	height: 80px;
	margin-top: 5px;
}

button{
	margin-top: 5px;
}

.portfolio-boxes{
	padding: 5px;
	z-index: 1;
}

.porfolio-pic{
	z-index: 1;
}

.portfolio-title{
	position: absolute;
	top: 0;
	height: 25px;
	margin-top: 50px;
	width: 92%;
	padding: 5px;
	background-color: #4aaaa5;
	color: white;
	z-index: 2;
}

.footer{
	height: 60px;
	border-top: 8px solid #4aaaa5;
	background-color: #666666;
	padding-top: 20px;
	text-align: center;
	font-size: 10pt;
	color: white;
	font-family: helvetica;
}